</div>
<div class="footer-padding"></div>
<div class="footer">
  <p> &#169; Made with ❤ by <a href="https://abhinavkashyap061.github.io/">Abhinav Kashyap</a> | 2022</p>
  <div class="socials">
    <a href="mailto: abhinavkashyap061@gmail.com">
      <i class="fab fa-google" aria-hidden="true">
      </i>
    </a> &nbsp; <a href="https://www.linkedin.com/in/abhinavkashyap061/">
      <i class="fab fa-linkedin" aria-hidden="true">
      </i>
    </a> &nbsp; <a href="https://twitter.com/abhinavstwt">
      <i class="fab fa-twitter" aria-hidden="true">
      </i>
    </a> &nbsp; <a href="https://instagram.com/abhinavsig">
      <i class="fab fa-instagram" aria-hidden="true">
      </i>
    </a>
  </div>
</div>
</body>

</html>